.page{
    display: flex;
    flex-direction: row;
    max-height: 97vh;
    width: 97vw;
}

.whiteContainer{
    width: 30rem;
    height: 100vh;
    background-color: #f4f4f4;
    display:flex;
    flex-direction: column;
    justify-content: center;
}



.Title{
    color: black;
}

.InputComponent{
    width: 14rem;
    margin-top: 1rem;
}

.PasswordInput{
    width: 14rem;
    margin-top: 1rem;
}

.userNameInput{
    width: 14rem;
}

.image_section{
    width: 100%;
    height: 100vh;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit_button{
    margin-top: 1rem;
}

